:root {
  --color-principal: #e78951;
  --color-btn: #e89d72;
  --color-secundario: #376c73;
  --color-fondo: #fefae0;
  --color-texto: #222;
}

.about-section {
  background-color: var(--color-fondo);
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.about-container {
  width: 90%;
  max-width: 1100px;
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.about-image img {
  width: 100%;
  max-width: 420px;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.about-text {
  flex: 1;
  color: var(--color-texto);
}

.about-text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-secundario);
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.15rem;
  line-height: 1.6;
  margin-bottom: 18px;
}

.about-btn {
  background-color: var(--color-principal);
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background-color: var(--color-btn);
  transform: translateY(-2px);
}
