.h1-change-password {
  color: #376c73;
}

.button-change-password {
  background-color: #e78951;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: #e6e6e6;
}
