body {
  background-color: #fefae0 ; 
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.head {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-top: 20px;
}

.img-logo {
  width: 60px;
  height: auto;
}

.baloo-chettan-2-title-letter {
  font-family: "Baloo Chettan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.container-green {
  background-color: #376c73;
  width: 1100px;
  height: 500px;
  border-radius: 5px;
  position: relative;
  padding: 90px 40px 30px 500px;
}

.container-white {
  background-color: white;
  width: 450px;
  height: 530px;
  border-radius: 40px;
  position: absolute;
  z-index: 10;
  transform: translate(-68%, -0%);
  padding-top: 100px;
}

.text-white {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.btn-record {
  background-color: #376c73;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px 60px;
  margin-left: 60px;
  border-radius: 40px;
  cursor: pointer;
}

.btn-login {
  background-color: #e78951;
  border-radius: 40px;
  padding: 5px 70px;
  margin: 10px 50px;
  color: white;
  border: none;
}

.btn-google {
  background-color: #ffffff;
  border-radius: 40px;
  padding: 5px 15px;
  margin: 10px 50px;
  border: solid 1px;
}

.title-green {
  color: #376c73;
}

.p-g {
  width: 700px;
  height: auto;
  transform: translate(33%, -205%);
}
.imggoo {
  width: 20px;
  height: auto;
  margin: 1px 10px;
}

.gray {
  background-color: #ebeaea;
  border: none;
}
