.container-blue-left {
  background-color: #376c73;
}

.boton-iniciar-sesion {
  background-color: #e78951;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color:#e6e6e6;
}

.register_form {
  margin: -3rem 0rem;
}

.register-body {
  margin-top: 7rem;
}

.h1-register {
  color: #376c73;
}

/* .register-animals {
  margin: -3rem 0rem;
  position: absolute;
  top: -48px;
  left: 0;
} */
