body {
  margin: 0;
  min-height: 100vh;
  background-color: #376c73;
  position: relative;
}

/* Blob superior izquierdo */
body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fefae0;
  clip-path: circle(40% at 0 0);
  z-index: -1;
  top: 0;
  left: 0;
}

/* Blob inferior derecho */
body::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fefae0;
  clip-path: circle(80% at 100% 100%);
  z-index: -1;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  z-index: 1;
}



/* Estilos del formulario */

.custom-gap {
  gap: 2rem;
}

.form-title {
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #376c73;
  margin-bottom: 20px;
}

.form-group {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #545454;
}



/* Estilos para inputs, selects y textareas */
.form-control {
  background-color: #e6e6e6 ;
  border: 1px solid #e6e6e6 ;
  box-shadow: none ;
  outline: none ;
}

.form-control:focus {
  background-color: #e6e6e6 ;
  border: 1px solid #e6e6e6 ;
  box-shadow: none ;
  outline: none ;
}
